<header >
    <div class="nav-container">
        <div id="desktop-navbar"></div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top px-5 py-4" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="d-flex justify-content-center align-items-center">
                    <img class="logo-header" src="images/Top Controllers Logo.svg" alt="">
                    <a class="navbar-brand header-text" href="/">THE TOP CONTROLLER</a>
                </div>
                <ul class="navbar-nav mr-auto ml-auto header-ul">
                    <!-- <li>
                        <div class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle text-white header-pages-text" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PRODUCTS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #202020 0% 0% no-repeat padding-box; box-shadow: 0px 3px 6px #00000029; opacity: 1;">
                                <a class="dropdown-item text-white dropdown-link-hover" style="opacity: 0.75;" href="witcher">WITCHER</a>
                                <a class="dropdown-item text-white dropdown-link-hover" href="pubg" style="opacity: 0.75;">PUBG</a>
                                <a class="dropdown-item text-white dropdown-link-hover" href="fortnite" style="opacity: 0.75;">FORTNITE</a>
                                
                            </div>
                        </div>
                    </li>
                     -->
                    <li class="nav-item active">
                        <a class="nav-link header-pages-text text-white" href="witcher">WITCHER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-pages-text text-white" href="pubg">PUBG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-pages-text text-white" href="fortnite">FORTNITE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-pages-text text-white" href="pages/contact">CONTACT US</a>
                    </li>
                </ul>
                <div class="nav-item dropdown ml-auto" style="margin-right: 100px">
                    <a class="nav-link dropdown-toggle text-white header-pages-text" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LEARN MORE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background: #202020 0% 0% no-repeat padding-box; box-shadow: 0px 3px 6px #00000029; opacity: 1;">
                        <a class="dropdown-item text-white dropdown-link-hover" style="opacity: 0.75;" href="pages/new-cookies">Help &amp; Support</a>
                        <a class="dropdown-item text-white dropdown-link-hover" href="pages/terms" style="opacity: 0.75;">Terms &amp; Conditions</a>
                        <a class="dropdown-item text-white dropdown-link-hover" href="pages/privacy-policy" style="opacity: 0.75;">Privacy Policy</a>
                        <a class="dropdown-item text-white dropdown-link-hover" href="pages/refund-policy" style="opacity: 0.75;">Refund Policy</a>
                    </div>
                </div>
            </div>
        
            
            
        </nav>

    </div>
    
</header >